.user-table-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .header-cell {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .table-row {
    border-bottom: 1px solid #ddd;
  }
  
  .table-cell {
    padding: 10px;
    text-align: left;
  }
  
  .table-cell img {
    margin: 10px;
  }